<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EvolutiveSystem_02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EvolutiveSystem_02.Properties.Settings>
            <setting name="DBFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIPaddress" serializeAs="String">
                <value />
            </setting>
            <setting name="lastIPport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadPathDbForCmd" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value />
            </setting>
        </EvolutiveSystem_02.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="FolderLOG" value="C:\Progetti\EvolutiveSystem\log" />
    <add key="DebugLev" value="3527" />
    <add key="SocketPortAssetMngm" value="11003" />
    <add key="SocketAddrAssetMngm" value="LOCALHOST"/>
    <add key="RemotePortList" value="11011;11012" />
  </appSettings>
</configuration>