<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Percorso del file del database SQLite -->
    <add key="DatabaseFilePath" value="C:\Progetti\EvolutiveSystem\Database\miu_data.db"/>
    <!-- Lunghezza massima consentita per tutte le stringhe MIU generate -->
    <add key="MaxStringLength" value="500"/>
    <!-- Numero target di stringhe derivabili da generare durante l'operazione 'initdb' -->
    <add key="TargetDerivableCountInitDb" value="150"/>
    <!--
            Numero massimo di stringhe uniche da generare in un pool temporaneo
            per ogni tentativo di seeding, al fine di trovare una stringa
            derivabile che non sia già presente nel database.
            Aumentare questo valore può migliorare la probabilità di successo del seeding
            ma può aumentare il tempo di elaborazione per ogni tentativo.
        -->
    <add key="MaxStringsToGenerateForSeeding" value="3000"/>
  </appSettings>
</configuration>
