<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="Mode" value="Interval" />
    <add key="IntervalMilliSeconds" value="3000" />
    <add key="TimeOutMilliseconds" value="1000" />
    <add key="FolderLOG" value="C:\SSDINTE_CONFIG\PAX\WinTab\log" />
    <add key="SocketPortClient" value="11011" />
    <!-- 
	<add key="DebugLev" value="1025" />
	<add key="DebugLev" value="515" />
  <add key="DebugLev" value="1" />
	  -->
    <add key="DebugLev" value="3527" />
    <add key="RemotePortList" value="11001;11002" />
  </appSettings>
</configuration>